<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <h1>Users Data</h1>
    <div>
        <% users.forEach((user) => {%>
            <div class="each">
                <h2><%= user.name%></h2>
                <h2><%= user.age%></h2>
                <h2><%= user.email%></h2>
                <a href="/users/<%=user._id%>">
                    <button>show id</button>
                </a>
            </div>
        <%})%>
    </div>
</body>
</html>